// 1. Global color
// ---------
$red: #DB2121;
$light-gray: #F3F3F3;
$medium-gray: #e2e2e2;
$dark-gray: #999999;
$dark-blue :#1c202b;
$black: #000000;
$white: #ffffff;
// нужно для миксина, цветовые примеси
$color-stack: (group: $light-gray, id: normal, color: #999999),
(group: orange, id: pale, color: #f8a878),
(group: orange, id: dark, color: #ad490c),
(group: blue, id: normal, color: #426682);
// 2. Global
// ---------
$global-font-size: 16px;
$global-width: 1170px;
$global-lineheight: 1.5;
$body-font-color: $black;
$body-font-family: 'latoregular',
Helvetica,
Arial,
sans-serif;
$latosemibold_italic: 'latosemibold_italic',
Helvetica,
Arial,
sans-serif;
$latolight_italic: 'latolight_italic',
Helvetica,
Arial,
sans-serif;
$latolight: 'latolight',
Helvetica,
Arial,
sans-serif;
$latoitalic: 'latoitalic',
Helvetica,
Arial,
sans-serif;
$latobold_italic: 'latobold_italic',
Helvetica,
Arial,
sans-serif;
$latobold: 'latobold',
Helvetica,
Arial,
sans-serif;
$title-font-family: 'proxima',
Helvetica,
Arial,
sans-serif;
$body-antialiased: true;
$global-margin: 16px;
$global-padding: 16px;
$global-position: 16px;
// 3. Title
// ---------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $body-font-family;
  font-size: 16px;
  line-height: $global-lineheight;
  color: $body-font-color;
}

h1,
h2,
h3,
h4 {
  font-family: $title-font-family;
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 44.5px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: $black;
}

img {
  display: block;
}

section {
  position: relative;
  padding: 90px 0;
}

.conteiner {
  width: $global-width;
  margin: 0 auto;
  box-sizing: border-box;
  @extend %clear;
}

.main-block__description {
  font-family: $latolight;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

.btn {
  width: 370px;
  height: 58px;
  display: inline-block;
  border-radius: 3px;
  color: $white;
  background: $red;
  text-align: center;
  color: $white;
  font-size: 22px;
  font-weight: 700;
  line-height: 58px;
  text-transform: uppercase;
}

// Форма Пополнить кошелек
.form-replenish {
  width: 100%;
  height: auto;
  padding: 0;
  background: url("/img/background/bg-mesh-2.png")no-repeat center center;
  background-size: cover;
}
.window-form {
  margin: -30px 0px -90px;
  padding: 130px 100px 65px;
  border: 2px dashed $dark-gray;
  background: #fdfdfd;
  background: -moz-linear-gradient(top, #fdfdfd 0%, #f0f0f0 100%);
  background: -webkit-linear-gradient(top, #fdfdfd 0%, #f0f0f0 100%);
  background: linear-gradient(to bottom, #fdfdfd 0%, #f0f0f0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f0f0f0', GradientType=0);
  z-index: 2;

  .window-form__h2 {
    position: relative;
    margin-bottom: 40px;
    line-height: 1;
    text-align: center;
    font-size: 36px;
    font-family: $title-font-family;
    font-weight: 900;
    text-transform: uppercase;
    color: $black;

    &::before {
      @include pseudo;
      top: -97px;
      left: 50%;
      right: 50%;
      width: 45px;
      height: 70px;
      background: url("/img/icon/icon-index.png");
      transform: translate(-50%);
    }
  }

  form {
    @include justify;
  }

  input {
    @include input($dark-gray,$dark-gray,grey,.5s, 49%, 2px);
  }

  .form-replenish__btn {
    background: $red;
    color: $white;
    border: none;
    padding: 11px 22px;
    text-align: center;
    text-align-last: center;
    text-transform: uppercase;
    cursor: pointer;
  }

}