.header {
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 1;
  padding: 40px 0;
  background: $white;
  nav {
    position: relative;
    width: 100%;
    padding: 18px 0;
  }
}

.logo {
  width: 40%;
  float: left;
  img {
    width: 450px;
    height: 53px;
  }
}

.menu-icon {
    display: none;
    width: 45px;
    height: 35px;
    position: relative;
    cursor: pointer;
    span {
      display: block;
      position: absolute;
      height: 9px;
      width: 100%;
      background: #333333;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2),
      .menu-icon span:nth-child(3) {
        top: 13px;
      }
      &:nth-child(4) {
        top: 26px;
      }
    }
  }

.menu {
  width: 51%;
  float: right;  
  @include rul;
  @include justify;  
  .menu__item {
    display: inline-block;
    font-size: 16px;
    opacity: 1;
    padding-top: 12px;
  }
  .menu__link {
    position: relative;
    font-size: 17px;
    color: #666666;
    text-transform: uppercase;
  }
  .entrance:before {
    @include pseudo;
    top: -7px;
    left: -20px;
    width: 16px;
    height: 23px;
    background: url("/img/icon/icon-castle.png");
  }
}

.menu-state-open .menu-icon {
  span {
    &:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
    &:nth-child(2) {
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      top: 12px;
      transform: rotate(-45deg);
    }
    &:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
  }
}

// Mein block
.main-block {
  width: 100%;
  height: auto;
  padding-top: 365px;
  background: url('/img/background/bg-main.jpg')no-repeat center;
  background-size: cover;
  color: $white;
  p {
    line-height: 36px;
    margin-bottom: 30px;
  }
}

.main-block__h1 {
  position: relative;
  line-height: 1;
  margin-bottom: 17px;

  &::before {
    @include pseudo;
    top: -105px;
    left: 50%;
    right: 50%;
    background: url("/img/icon/icon-phone-money.png")no-repeat;
    width: 172px;
    height: 446px;
    transform: translate(-50%);
  } 
}

.main-block__logo-phone {
  img {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

.main-block__btn {
  text-align: center;
}