/*====================== max-width: 1170 ======================*/

@media (max-width: 1170px) {
  .container {
    width: 100%;
    padding: 0 20px;
  } // Header
  .header {
    .container {
      padding: 0;
    }
    .logo {
      padding-left: 20px;
      img {
        width: 100%;
        height: auto;
      }
    }
    nav {
      text-align: right;
      padding-top: 8px;
      padding-bottom: 0;
      .menu {
        position: absolute;
        display: block;
        top: 90px;
        right: 0;
        left: 0;
        width: 100%;
        background-color: rgba(16, 23, 33, 0.97);
        z-index: 1000;
        opacity: 0;
        overflow: auto;
        text-align-last: center;
        padding: 20px 0;
        transition: all 100ms linear;
      }
      .menu-icon {
        display: inline-block;
        right: 20px;
      }
      .menu__item {
        display: block;
        padding-top: 0;
        span {
          display: none;
        }
      }
      .menu__link {
        display: block;
        padding: 10px 0;
        text-align: center;
        color: $white;
        @include hov-a(none, rgba(255, 255, 255, 0.06));
      }
    }
    nav.menu-state-open {
      .menu {
        opacity: 1;
      }
    }
  }
  .main-block.main-block_mod {
    padding-top: 365px;
    .container {
      padding: 0 20px;
    }
    .main-block__h1 {
      text-align: center;
      &::before {
        top: -105px;
        left: 50%;
      }
    }
    .main-block__description {
      display: block;
      margin: 0;
      margin-bottom: 30px;
    }
    .main-block__logo-phone {
      display: block;
    }
    .main-block__btn {
      display: block;
    }
  } // Форма пополнения кошелька
  .form-replenish {
    box-sizing: border-box;
    .container {
      padding: 0 50px;
    }
  } // Footer
  .section-footer {
    .logo-footer {
      width: 50%;
    }
    .contact {
      width: 45%;
    }
  }
  .about_dark2 .about-list__item .about-list__text_two-block:last-child,
  .about_dark .about-list .about-list__item:nth-child(4) .about-list__text:last-child {
    padding-left: 30px;
  }
  .about_dark2 .about-list__h3::before,
  .about_dark .about-list__h3::before {
    top: -20px;
    left: -100px;
    width: 60px;
    height: 60px;
  }
  .about_dark2 .about-list__h3::after,
  .about_dark .about-list__h3::after {
    top: -24px;
    left: -83px;
  }
}


/*====================== max-width: 992 ======================*/

@media (max-width: 992px) {
  .container {
    width: 100%;
  } // Форма пополнения кошелька
  .window-form {
    input {
      width: 100%;
    }
  } // Footer
  .section-footer {
    .logo-footer,
    .contact,
    .contact__vat-namber,
    .contact__phone {
      float: none;
      width: 100%;
      text-align: center;
    }
    .logo-footer {
      width: 60%;
      margin: auto;
      margin-bottom: 40px;
      &::before {
        left: inherit;
        right: 0 !important;
      }
      a img {
        width: 100%;
        height: auto;
      }
    }
  }
  .section-footer.section-footer_mod {
    .contact__address {
      .address-text {
        font-size: 26px;
      }
    }
  }
  .contact__email {
    display: inline-block;
  }
  .block-info {
    .text-coper,
    .text-info {
      width: 100%;
      p {
        text-align: center;
      }
    }
  } // About
  .about .about-list__item {
    padding-right: 0;
  }
  .about_white {
    .disc__logo-text,
    .disc__text {
      float: none;
      width: 100%;
    }
    .disc__logo-text {
      margin-bottom: 20px;
    }
  }
}


/*====================== max-width: 768 ======================*/

@media (max-width: 768px) {
  .container {
    width: 100%;
  } // Header
  .header {
    .logo {
      width: 55%;
    }
  } // Main-block
  .main-block {
    .main-block__h1 {
      font-size: 33.5px;
      margin-bottom: 35px;
    }
    p {
      font-size: 24px;
    }
    .main-block__logo-phone img {
      max-width: 100%;
    }
  } // Форма пополнения кошелька
  .window-form {
    padding: 130px 50px 40px;
  } // Google Map 
  .block-map {
    .block-map__tooltip {
      width: 70%;
      top: 5%;
      left: 50%;
      transform: translate(-50%);
    }
  } // About
  .about .disc__text p {
    font-size: 20px;
  }
  .about_dark2 {
    padding: 70px 0;
  }
  .about_dark2 .about-list__item .about-list__text_two-block,
  .about_white .about-list__item,
  .about .about-list__item,
  .about_dark .about-list .about-list__item:nth-child(4) .about-list__text {
    width: 100%;
    float: none;
  }
  .about-list .about-list__item {
    &:first-child {
      margin-bottom: 90px;
    }
  }
}


/*====================== max-width: 480 ======================*/

@media (max-width: 480px) {
  .container {
    width: 100%;
  } // Header
  .header {
    .logo {
      width: 70%;
      padding-top: 0;
    }
  } // Main block
  .main-block {
    .main-block__h1 {
      font-size: 30px;
    }
    .btn {
      width: 100%;
    }
  } // Форма пополнения кошелька
  .form-replenish .container {
    padding: 0 20px;
  }
  .window-form {
    padding: 130px 20px 40px;
    .window-form__h2 {
      font-size: 30px;
    }
  } // Footer
  .section-footer {
    .logo-footer {
      width: 75%;
    }
  } // Google Map 
  .block-map {
    .block-map__tooltip {
      width: 90%;
      padding: 20px;
      h2,
      p {
        text-align: left;
        font-size: 16px;
        margin-bottom: 10px;
      }
    }
  } // About
  .about_white .disc__text {
    padding-left: 0;
  }
  .about .about-list__h3::before,
  .about .about-list__h3::after,
  .about_white .disc__text::before,
  .main-block__h1::before {
    display: none;
  }
  .about_white .about-list__item,
  .about .about-list__item {
    padding-left: 0px;
  }
}


/*====================== max-width: 320 ======================*/

@media (max-width: 320px) {
  .section-footer .logo-footer::before {
    bottom: -40px;
  }
}