// max-width: 1170
@media (max-width: 1170px) {
  .conteiner {
    width: 100%;
  }
  .header {
    .logo {
      padding-left: 20px;
      img {
        width: 100%;
        height: auto;
      }
    }
    nav {
      text-align: right;
      padding-top: 8px;
      padding-bottom: 0;
      .menu {
        position: absolute;
        display: block;
        top: 90px;
        right: 0;
        left: 0;
        background-color: rgba(16, 23, 33, 0.97);
        z-index: 1000;
        opacity: 0;
        overflow: auto;
        text-align-last: center;
        padding: 20px 0;
        transition: all 100ms linear;
      }
      .menu-icon {
        display: inline-block;
        right: 20px;
      }
      .menu__item {
        display: block;
      }
      .menu__link {
        display: block;
        padding: 10px 0;
        text-align: center;
        color: $white;
        @include hov-a(none, rgba(255, 255, 255, 0.02));
      }
    }
    nav.menu-state-open {
      .menu {
        opacity: 1;
      }
    }
  }
}

// max-width: 992
@media (max-width: 992px) {
  .conteiner {
    width: 100%;
  }
}

// max-width: 768
@media (max-width: 768px) {
  .conteiner {
    width: 100%;
  }
  .header {
    .logo {
      width: 55%;
    }
  }
  .main-block {
    .main-block__h1 {
      font-size: 33.5px;
      margin-bottom: 35px;
    }
    p {
      font-size: 24px;
    }
    .main-block__logo-phone img {
      max-width: 100%;
    }
  }
}

// max-width: 480
@media (max-width: 480px) {
  .conteiner {
    width: 100%;
  }
  .header {
    .logo {
      width: 70%;
      padding-top: 0;
    }
  }
  .main-block {
    .main-block__h1 {
      font-size: 30px;
    }
    .btn {
      width: 100%;
    }
  }
}